<!doctype html>
<html lang="en">
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <a href="{{ url_for('create') }}">Agregar Producto</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto['id'] }}</td>
            <td>{{ producto['descripcion'] }}</td>
            <td>{{ producto['cantidad'] }}</td>
            <td>{{ producto['precio'] }}</td>
            <td>
                <a href="{{ url_for('update', id=producto['id']) }}">Editar</a>
                <form action="{{ url_for('delete', id=producto['id']) }}" method="post" style="display:inline;">
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>